{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Polyana Stocco Muniz</title>
    <meta name="description" content="Polyana Psicóloga e Psicanalista">
    <!-- custom.css -->
    <link rel="stylesheet" href="{% static 'puy/css/custom.css'%}">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="{% static 'puy/css/bootstrap.min.css'%}">
    <!-- font-awesome -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <!--script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script-->
    <!-- AOS -->
    <link rel="stylesheet" href="{% static 'puy/css/aos.css'%}">
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url('{% static 'puy/img/banner-bk5.png'%}');">
        <div class="container text-center text-md-left">
            <header>

            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                class="display-3 text-black font-weight-bold my-5">
                Polyana Stocco Muniz
            </h1>


            <h2 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                class="lead text-black my-4 ">
                Psicóloga e Psicanalista
            </h2>
        </div>
    </div>

    <!-- feature (skew background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
        <div class="container my-5">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                    <h2 class="font-weight-bold">Sobre</h2>
                    <p class="my-4">Formada em Psicologia pela Unesp-Bauru e mestre em Psicologia Escolar e do
                        Desenvolvimento Humano do Instituto de Psicologia da USP-SP. Atua no SUS de Vinhedo desde
                        2014 .<br>
                        <br>Atendimento de crianças, adolescente e adultos.
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=5511986136226" data-aos="fade" data-aos-easing="linear"
                        data-aos-duration="1000" data-aos-once="true"
                        class="btn my-4 font-weight-bold atlas-cta cta-green">
                        <i style='font-size:24px' class='fab'>
                            &#xf232;
                        </i>
                    </a>
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true"
                    class="col-md-6 align-self-center">
                    <img src="{% static 'puy/img/polyana.jfif'%}" alt="Take a look inside" class="mx-auto d-block"
                        style="border-radius: 25px">
                </div>
            </div>


        </div>
    </div>


    <!-- three-blcok -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">Locais de atendimento</h2>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <!--img src="img/smart-protect-1.jpg" alt="Anti-spam" class="mx-auto"-->
                <i style='font-size:48px;color:#466464' class='fas'><a
                        href="https://www.google.com/maps/place/R.+Dr.+Em%C3%ADlio+Ribas,+1560+-+Cambu%C3%AD,+Campinas+-+SP,+13025-140/@-22.8906602,-47.0529931,17z/data=!3m1!4b1!4m5!3m4!1s0x94c8cf571ee42cf3:0x5138fe5c8d80f189!8m2!3d-22.8906652!4d-47.0508044"
                        style="text-decoration:none; color:#466464">
                        &#xf3c5;</a></i>
                <h4>Campinas</h4>
                <p>Rua Emilio Ribas, 1560, sala 22, <br>
                    Cambuí, Campinas - SP</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <i style='font-size:48px;color:#466464' class='fas'><a
                        href="https://www.google.com/maps/place/R.+Fernando+Costa,+1051+-+10+-+Centro,+Vinhedo+-+SP,+13280-000/@-23.03566,-46.9738267,17z/data=!3m1!4b1!4m5!3m4!1s0x94cf2d66339a48f1:0x5ae97ee042e823e8!8m2!3d-23.035665!4d-46.971638"
                        style="text-decoration:none; color:#466464">
                        &#xf3c5;</a></i>
                <!--img src="img/smart-protect-2.jpg" alt="Phishing Detect" class="mx-auto"-->
                <h4>Vinhedo</h4>
                <p>Rua Fernando Costa, 1051, sala 10,<br>
                    Vila Planalto, Vinhedo - SP</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true"
                class="col-md-4 text-center">
                <i style='font-size:48px;color:#466464' class='fas'>&#xf108;</i>
                <!--img src="img/smart-protect-3.jpg" alt="Smart Scan" class="mx-auto"-->
                <h4>On Line</h4>
                <p>Atendimento remoto via <br>
                    Zoom e/ou Whataspp</p>
            </div>
        </div>
    </div>
    <!-- contact -->
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url({% static 'puy/img/contact-bk.png'%});">
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">Contato</h2>
                    <p class="my-4">
                        Entre em contato para mais informações.
                    </p>
                    <ul class="list-unstyled">
                        <li>Email : polyana_muniz@yahoo.com.br</li>
                        <li>Phone : 11 98613-6226</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Nome</label>
                                <input type="name" class="form-control" id="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Menssagem</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <button type="submit"
                            class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Enviar</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!-- copyright -->
    <div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-black align-self-center text-center text-md-left my-2">
                    <!--Copyright © 2023 Lo Bianco, Alexandre.-->
                    Copyright © 2023 Lo Bianco, Alexandre.
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="https://br.linkedin.com/in/polyana-stocco-muniz-aaaa5915b"
                        class="d-inline-block text-center ml-2">
                        <i style='font-size:24px' class='fab'>&#xf08c;</i>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5511986136226" class="d-inline-block text-center ml-2">
                        <i style='font-size:24px' class='fab'>&#xf232;</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- AOS -->
    <script src="{% static 'puy/js/aos.js'%}"></script>
    <script>
        AOS.init({
        });
    </script>
</body>

</html>